* {
    margin: 0;
    padding: 0;
}
#banner {
    width: 100%;
    background-color: #241ccb;
    display: flex;
}

#banner > img {
    width: 150px;
}

#banner > h1 {
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    color: #e6e1b6;
    padding-left: 5px;
    padding-top: 5px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#div-jogo {
    width: 600px;
    height: 600px;
    margin: 10px auto;
    display: flex;
}

canvas {
    background-color: black;
}

#regras {
    width: 590px;
    margin: 10px auto;
    border: 1px solid black;
    display: flex;
    justify-content:space-between;
}

#regras > div > h1 {
    font-family: Helvetica;
    color: #58207e;
    margin:  10px;
}

#regras > div > p {
    font-family: Helvetica;
    color: #241ccb;
    margin:  20px;
}

#reiniciar {
    width: 100px;
    height: 50px;
    margin: 10px auto;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    background-color: #d40b46;
    color: #fff;
    border: 4px solid #58207e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}